<div #element1>
  <div
    align="center"
    class="panel panel-default line"
    style="margin-top: 10px;"
  >
    <div class="panel-heading panel-title">
      <div align="center">
        <!--<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
        <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create
          openModalWithComponent</button>-->

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is a modal.
          </div>
        </ng-template>
        <h3>
          قائمة بكافة {{modelname}}
        </h3>
      </div>
    </div>
    <div>
      <ejs-grid
        #grid
        [allowTextWrap]="true"
        height="99%"
        width="99%"
        [enablePersistence]="false"
        printMode="CurrentPage"
        (rowSelected)="rowSelected($event)"
        (printComplete)="printComplete()"
        allowExcelExport="true"
        enableRtl="true"
        allowTextWrap="true"
        showColumnMenu="true"
        [showColumnChooser]="true"
        [dataSource]="data"
        [editSettings]="editSettings"
        [contextMenuItems]="contextMenuItems"
        [allowReordering]="true"
        [allowSorting]="true"
        [sortSettings]="sortSettings"
        [allowGrouping]="true"
        [allowFiltering]="true"
        [filterSettings]="filterSettings"
        [allowPaging]="true"
        [pageSettings]="pageSettings"
        [allowSelection]="true"
        [allowResizing]="true"
        [gridLines]="gridLines"
        [toolbar]="toolbarOptions"
        [allowPdfExport]="true"
        [textWrapSettings]="wrapSettings"
        [rowHeight]="60"
        (created)="created($event)"
        (commandClick)="commandClick($event)"
        (toolbarClick)="toolbarClickHandler($event)"
        (queryCellInfo)="queryCellInfo($event)"
        (columnMenuClick)="columnMenuClick($event)"
        (dataBound)="dataBound($event)"
        (actionFailure)="onActionFailure($event)"
        (rowDataBound)="rowDataBound($event)"
        (load)="load($event)"
        (actionBegin)="actionbegin($event)"
        (dataStateChange)="dataStateChange($event)"
        (dataSourceChange)="dataSourceChange($event)"
        (dataSourceChanged)="dataSourceChanged($event)"
        (beforeDataBound)="beforeDataBound($event)"
        (actionComplete)="actionComplete($event)"

      >
        <e-columns>
          <e-column
            field="Id"
            [customAttributes]="customAttributes"
            [visible]="false"
            [allowGrouping]="false"
            [showColumnMenu]="false"
            type="number"
            headerText="ID"
            textAlign="Right"
            isPrimaryKey="true"
            [lockColumn]="true"
            [allowEditing]="false"
            [allowSearching]="false"
            [isIdentity]="true"
          >
          </e-column>

          <e-column
            field="FullName"
            headerText="الاسم الثلاثي"
            [allowGrouping]="false"
            [allowSorting]="true"
            [showColumnMenu]="true"
            [validationRules]="nameRules"
          ></e-column>
          <e-column
            field="Email"
            [allowGrouping]="false"
            [showColumnMenu]="true"
            [allowSorting]="true"
            [validationRules]="mohemailRules"
            headerText="البريد الألكتروني"
          >
          </e-column>
          <e-column
          field="IdNumber"
          [visible]="true"
          [allowGrouping]="false"
          [showColumnMenu]="true"
          type="number"
          headerText="رقم الاثبات"
          textAlign="Right"
          isPrimaryKey="false"
          [allowEditing]="false"
          [allowSearching]="true"
          [isIdentity]="false"
        >
        </e-column>
        <e-column
        field="userphone"

        [visible]="true"
        [allowGrouping]="false"
        [showColumnMenu]="true"
        headerText="رقم الهاتف"
        textAlign="Right"
        isPrimaryKey="false"

        [allowEditing]="false"
        [allowSearching]="true"
        [isIdentity]="false"
      >
    </e-column>
      <e-column
      field="age"

      [visible]="true"
      [allowGrouping]="false"
      [showColumnMenu]="true"
      type="number"
      headerText=" العمر"
      textAlign="Right"
      isPrimaryKey="false"

      [allowEditing]="false"
      [allowSearching]="true"
      [isIdentity]="false"
    >
    </e-column>

          <e-column
            field="Usersclassrooms"
            [allowGrouping]="false"
            [showColumnMenu]="true"
            [allowSorting]="true"
            headerText=" الفصل الدراسي"
          >
          </e-column>
          <e-column
            field="Usersedumatrials"
            [allowGrouping]="false"
            [showColumnMenu]="true"
            [allowSorting]="true"
            headerText=" المواد التعليمية"
          >
          </e-column>

          <e-column
            field="jobs"
            headerText="المهام"
            [commands]="commands"
            [allowEditing]="false"
            [allowFiltering]="false"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [showColumnMenu]="false"
          ></e-column>
        </e-columns>

      </ejs-grid>
    </div>
    <hr />
  </div>
</div>
